name: Continuous Build
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.20.0
      - run: yarn
      - run: yarn lint
      - run: yarn list-supported-chains
      - run: yarn test
