name: Continuous Build
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
      - run: yarn
      - run: yarn lint
      - run: yarn list-supported-chains
      - run: yarn test
